body{
    margin:0;
}

#baner{
    background-color: #45517D;
    color:white;
    font-size: 120%;
    text-align:right;
    height:60px;
    width: 100%;
}
#lewa{
    background-color: #61B2EC;
    width:40%;
    height: 500px;
    float:left;
}
#prawa{
    background-color: #8EC9F2;
    width:60%;
    height: 500px;
    float:left;
}

#stopka{
    background-color:#45517D;
    clear:both;
    color:white;
    font-size: 150%;
    text-align: center;
}