* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana sans-serif;
}

header,
footer {
    padding: 20px;
    background-color: #4682B4;
    color: white;
    font-size: 120%;
    text-align: center;
}

main {
    display: flex;
}

.lewy {
    height: 500px;
    width: 40%;
    background-color: #40E0D0;
}

.prawy {
    height: 500px;
    width: 60%;
    background-color: #40E0D0;
}

img {
    padding: 5px;
    margin: 10px;
    border: 1px solid #000080;
}

ul {
    margin-left: 20px;
}

ul li {
    list-style-position: inside;
}