* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

header {
    display: flex;
}

.left,
.right {
    height: 200px;
    width: 30%;
    background-color: RosyBrown;
    color: white;
}

.middle {
    height: 200px;
    width: 40%;
    background-color: RosyBrown;
    color: white;
    text-align: center;
}

main {
    background-color: Wheat;
    padding: 50px;
}

footer {
    background-color: RosyBrown;
    color: white;
    padding: 5px;
    text-align: center;
}

a {
    background-color: Salmon;
    color: DarkRed;
    border: 2px solid DarkRed;
    padding: 20px;
    line-height: 200px;
}

