body,html
{
	margin: 0px;
	padding: 0px;
}
#baner
{
	background-color: #993333;
	color:white;
	text-align: center;
	height: 80px;
}
.info
{
	font-family: Tahoma;
	background-color: #CC6666;
	color:white;
	text-align: center;
	width: 25%;
	height: 150px;
	float: left;
}
#pp,#pl
{
	background-color: #CC9999;
	width: 40%;
	height: 550px;
	float: left;
}
#ps
{
	background-color: #FFCCCC;
	width: 20%;
	height: 550px;
	float: left;
}
#stopka
{
	background-color: #993333;
	color:white;
	text-align: right;
	clear: both;
}
table
{
	border: 1px dotted red;
	width: 100%;
}
td
{
	text-align: center;
}
#przycisk
{
	border: none;
	padding: 20px;
	background-color: red;
	color: white;

}
